div(class="modal fade" id="myModal" role="dialog")
	div(class="modal-dialog")
		div(class="modal-content")
			div(class="modal-header")
				button(class="close", data-dismiss="modal", type="button") &times;
				h4(class="modal-title", id="modal_title") Add new question
			div(class="modal-body",id="modal-body")
				form(id="modalForm", method="POST", action="/control/addNewQuestion")
					input(id="questionId" name="questionId" type="hidden" value="")
					label(class="text-info", for="question") Question
					input(class="form-control", id="modal_question", name="question", type="text", placeholder="Enter question", required)
					label(class="text-success", for="correct") Correct Answer
					input(class="form-control", id="modal_correct", name="correct", type="text", placeholder="Enter correct answer", required)
					label(class="text-danger", for="wrong1") Wrong Answer
					input(class="form-control", id="modal_wrong1", name="wrong1", type="text", placeholder="Enter wrong answer", required)
					label(class="text-danger", for="wrong2") Wrong Answer
					input(class="form-control", id="modal_wrong2", name="wrong2", type="text", placeholder="Enter wrong answer", required)
					label(class="text-danger", for="wrong3") Wrong Answer
					input(class="form-control", id="modal_wrong3", name="wrong3", type="text", placeholder="Enter wrong answer", required)
					div(class="modal-footer")
						button(class="btn btn-default" data-dismiss="modal" type="button") Close
						input(class="btn btn-success", id="submit-modal-btn", type="submit", value="Save")