div(class="modal fade" id="deleteConfirmationModal")
	div(class="modal-dialog modal-confirm")
		div(class="modal-content")
			div(class="modal-header")
				button(class="close" data-dismiss="modal" type="button") &times;
				h4(lass="modal-title") Are you sure?
			div(class="modal-body" id="delete-modal-body")
				input(id="delete-questionId" name="questionId" type="hidden" value="")
				p Do you really want to delete this quiz item? This process cannot be undone.
			div(class="modal-footer" id="delete-modal-footer")
				button(class="btn btn-default" data-dismiss="modal" type="button") Cancel
				button(class="btn btn-danger" id="delete-modal-btn" type="button") Delete