nav(class="navbar navbar-inverse")
	div(class="container-fluid")
		div(class="navbar-header")
			button( type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar")
				span(class="icon-bar")
				span(class="icon-bar")
				span(class="icon-bar")
			a(class="navbar-brand") Quiz

	div(class="collapse navbar-collapse" id="myNavbar")
		ul(class="nav navbar-nav")
			li 
				a(href="/home") Home
			if user.role == 1
				li
					a(href="/control") Control
		ul(class="nav navbar-nav navbar-right")
			li
				a(href="/home/logout")
					span( class="glyphicon glyphicon-log-out") Logout