doctype html
html
	head
		include partials/headlinksandscripts.pug
		script(src='/javascripts/controlScripts.js')
		title Control
	body
		header( class="navbar navbar-expand flex-column flex-md-row bd-navbar")
			include partials/navigationheader.pug
		div(class="col-sm-1")
		main(class="container-fluid col-sm-10")
			h1 Admin Intefrace
			div(class="form-inline" id="messages")
				button(class="btn btn-warning a-btn-slide-text", data-target="#myModal", data-toggle="modal", type="button",id="addNewQuestionBtn")
					span(class="glyphicon glyphicon-plus", aria-hidden="true") 
						p(style="font-family: \"Helvetica\"; display:inline;") Question
				div(class="form-group mx-sm-3 mb-2")
					input(class="form-control" id="default-quiz-length-txt" type="text" maxlength="2" style="width: 35pt" value=quizLength)
					button(class="btn btn-warning" id="set-quiz-length-btn" type="button") Set
				button(class="btn btn-primary" id="get-questions-button") List Questions
				button(class="btn btn-primary" id="get-users-button") List Users
			include partials/addnewquestionmodal.pug
			include partials/deleteconfirmationmodal.pug
			
			table(class="table table-hover" id="table")
				thead(id="table-header")
				tbody(id="table-body")
		div(class="col-sm-1")