doctype
html
	head
		include partials/headlinksandscripts.pug
		title Home
	body
		include partials/navigationheader.pug
		
		div(class="jumbotron")
			div(class="container text-center")
				h1 Welcome to Home Page
				a(class="btn btn-success btn-lg" id="start-game-btn" href="/quiz") Take Quiz