doctype
html
	head
		include partials/headlinksandscripts.pug
		script(src="/javascripts/OfflineScript.js")
		title Login
	body
		div(class="container" id="messages")
		div(class="col-md-4")
		div(class="col-md-4")
			h1 Login
			form(id="login-form" method="POST" action="")
				div(class="form-group")
					label(for="userName") Username
					input(class="form-control", id="userName", name="userName", type="text", placeholder="Username", required)
				div(class="form-group")
					label(for="pwd") Password
					input(class="form-control", id="pwd", name="pwd", type="password", title="", placeholder="Password", required)
				div
					a(class="btn btn-default" href="/register") Create New Account
					input(class="btn btn-primary", id="sign-in-btn", type="submit", value="Sign in")
			div
				if errorMsg
					each msg in errorMsg
						div(class="alert alert-danger fade in alert-dismissible")=msg.msg
							a(class="close", data-dismiss="alert", href="#", title="close", aria-label="close") ×
		div(class="col-md-4")