doctype
html(lang='en')
	head
		include partials/headlinksandscripts.pug
		meta(charset='utf-8')
		script(src='/javascripts/gameScripts.js')
		title Quiz
	body
		include partials/navigationheader.pug		
		div(class="container text-center" id="container")
			h5(class="mx-auto text-center" id="progress")
			h2(class="mx-auto text-center" id="question")
			div(class="container")
				div(class="row text-center")
					div(class="col-xs-6 col-sm-6")
						input(class="btn btn-default text-right btn-block" id="a" type="button" value="")
					div(class="col-xs-6 col-sm-6")
						input(class="btn btn-default text-left btn-block" id="b" type="button" value="")
				div(class="row text-center")
					div(class="col-xs-6 col-sm-6")
						input(class="btn btn-default text-right btn-block" id="c" type="button" value="")
					div(class="col-xs-6 col-sm-6") 
						input(class="btn btn-default text-left btn-block" id="d" type="button" value="")