doctype
html
	head
		include partials/headlinksandscripts.pug
		script(src='/javascripts/passwordsMatch.js')
		script(src="/javascripts/OfflineScript.js")
		title Registration
	body
		div(class="container" id="messages")
		div(class="col-md-4")
		div(class="container col-md-4")
			h1 Registration
			form(id="register-form", method="POST", action="")
				div(class="form-group")
					label(for="firstName") First Name
					input(class="form-control", id="firstName", name="firstName", type="text", placeholder="First Name", value=firstName, required)
				div(class="form-group")
					label(for="familyName") Family Name
					input(class="form-control", id="familyName", name="familyName", type="text", placeholder="Family Name", value=familyName, required)
				div(class="form-group")
					label(for="userName") Username:
					input(class="form-control", id="userName", name="userName", type="text", placeholder="Username", value=userName, required)
				div(class="form-group")
					label(for="pwd") Password:
					input(class="form-control", id="pwd", name="pwd", type="password", placeholder="Password" required)
				div(class="form-group")
					label(for="confPwd") Confirm Password:
					input(class="form-control", id="confPwd", name="confPwd", type="password", placeholder="Confirm Password" required)
				div
					a(class="btn btn-default" href="/login") Sign in
					input(class="btn btn-primary", id="register-btn", type="submit", value="Create Account")
				div(id="passwordsmatch")
				div
					if message 
						div(class="alert alert-success fade in alert-dismissible" id="message") #{message}
							a(class="close", data-dismiss="alert", href="#", title="close", aria-label="close") ×
					if errorMsg
						each msg in errorMsg
							div(class="alert alert-danger fade in alert-dismissible")=msg.msg
								a(class="close", data-dismiss="alert", href="#", title="close") ×
		div(class="col-md-4")